# Gradle
.gradle/
build/

# JBang & Camel JBang
.jbang/
.camel-jbang/
.camel-jbang-run/
routes/.camel-jbang/
routes/.camel-jbang-run/

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
lsp_log*.txt

# Generated Sandbox Workspace Directories
/assets/
/camel/
/diagrams/
/FAKER/
/kamelets/
/mappings/
/schemas/
/validator/
/routes/
/application.properties
/validation-mapping.json
/infra-simulator/

