# Gradle
.gradle/
build/

# JBang & Camel JBang
.jbang/
.camel-jbang/
.camel-jbang-run/
routes/.camel-jbang/
routes/.camel-jbang-run/

# IDEs and Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
lsp_log*.txt

# Generated Sandbox Workspace Directories
/route-builder/chapter-*/
/route-builder/infra-simulator/
/route-builder/FAKER/
/route-builder/application.properties
/test-project-workspace/FAKER/
/test-project-workspace/infra-simulator/
/infra-simulator/

# Maven
target/
dependency-reduced-pom.xml

# Standalone Execution binaries
db-update/*.jar
db-update/.env
.env
**/.env
